/* src/pages/Sobre.module.css */
.sobre_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d7d7d7;
}

.content {
  text-align: center;
  width: 600px;
}

.content h1 {
  font-size: 36px;
  color: #6d0a57;
  margin-bottom: 50px;
}

.content p {
  font-size: 20px;
  color: #640745;
  line-height: 1.6;
}
